<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.bugakov" />
	<mvc:annotation-driven />
	<bean name="ormHelper" class="com.bugakov.moneymanagment.dao.ORMHelper"/>
	<bean name="entityManager" class="javax.persistence.EntityManager" factory-bean="ormHelper" factory-method="entityManager"/>
	<bean name="CurrencyDao" class="com.bugakov.moneymanagment.dao.CurrencyDao">
		<constructor-arg name="entityManager" ref="entityManager"/>
	</bean>

	<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name = "prefix" value = "/WEB-INF/jsp/" />
		<property name = "suffix" value = ".jsp" />
	</bean>
	<!--<bean class="com.bugakov.moneymanagment.service.CurrencyService">-->
		<!--<constructor-arg name="dao" ref="CurrencyDao"/>-->
	<!--</bean>-->

</beans>